:root {
    --vp-font-family-base: 'IBM Plex Sans', sans-serif;
}

.title > span {
    font-style: italic;
    font-weight: 800;
    font-size: 14pt;
}

.VPTeamMembersItem.small .avatar {
    width: 120px !important;
    height: 120px !important;
}

img.avatar-img {
    width: 100%;
    height: 100%;
}

.VPTeamMembersItem {
    border: 1px solid var(--vp-c-bg-soft);
    background-color: var(--vp-c-bg-soft);
    transition: border-color 0.25s, background-color 0.25s;
}

.VPTeamMembersItem:hover {
    border: 1px solid var(--vp-c-brand-1);
    background-color: var(--vp-c-brand-1);
    transition: border-color 0.25s, background-color 0.25s;
}